<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575884884246-if1jbtao507dv13ognrm4vkcalbmu0lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575884884246-if1jbtao507dv13ognrm4vkcalbmu0lh</string>
	<key>API_KEY</key>
	<string>AIzaSyAEGr7OE7AddkYFCU3HahqYyoeeTvsa-Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>575884884246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppTexting</string>
	<key>PROJECT_ID</key>
	<string>fluttre-e46a4</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttre-e46a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575884884246:ios:ca951dedb88c1a3f35f837</string>
</dict>
</plist>